#  Usar el parámetro `indicator` para añadir una columna con la procedencia de cada fila

In [1]:
# Preliminares
import pandas as pd
import numpy as np

Consideramos los dos `DataFrame`s:

In [2]:
clientes= pd.DataFrame(
    {'dni': ['12345678', '23456789', '34567890', '01234567'],
     'nombre': ['José', 'Pedro', 'María', 'Blanca'],
     'apellido1': ['Pérez', 'Martínez', 'Sánchez', 'Ruiz'],
     'apellido2': ['Martínez', 'Moreno', 'Meseguer', 'Torres']
    }
)
clientes

        dni  nombre apellido1 apellido2
0  12345678    José     Pérez  Martínez
1  23456789   Pedro  Martínez    Moreno
2  34567890   María   Sánchez  Meseguer
3  01234567  Blanca      Ruiz    Torres

In [3]:
pedidos= pd.DataFrame(
    {'id': [10, 12, 21, 22, 24, 25, 28], 
     'dni': np.repeat(['23456789','12345678', '34567890', '87654321'], repeats=[2, 3, 1, 1]),
     'id_producto': ['AAA123', 'SOX433', 'QWE000', 'SOX433', 'PII342', 'ZXY099','PII342']})
pedidos

   id       dni id_producto
0  10  23456789      AAA123
1  12  23456789      SOX433
2  21  12345678      QWE000
3  22  12345678      SOX433
4  24  12345678      PII342
5  25  34567890      ZXY099
6  28  87654321      PII342

Al usar `indicator=True`, `merge` añadirá una columna llamada `_merge` al resultado, con tres valores posibles
- "both": en el caso en el valor de la clave está en ambos `DataFrame`s
- "left_only": si el valor de la clave aparece en el `DataFrame` de la izquierda pero no en el de la derecha
- "right_only": si el valor de la clave aparece en el `DataFrame` de la derecha pero

In [4]:
clientes.merge(pedidos, how='outer', indicator=True)

        dni  nombre apellido1 apellido2    id id_producto      _merge
0  12345678    José     Pérez  Martínez  21.0      QWE000        both
1  12345678    José     Pérez  Martínez  22.0      SOX433        both
2  12345678    José     Pérez  Martínez  24.0      PII342        both
3  23456789   Pedro  Martínez    Moreno  10.0      AAA123        both
4  23456789   Pedro  Martínez    Moreno  12.0      SOX433        both
5  34567890   María   Sánchez  Meseguer  25.0      ZXY099        both
6  01234567  Blanca      Ruiz    Torres   NaN         NaN   left_only
7  87654321     NaN       NaN       NaN  28.0      PII342  right_only

Podríamos hacer el recuento de esta columna para obtener información sobre qué ha pasado en el merge

In [5]:
clientes.merge(pedidos, how='outer', indicator=True)['_merge'].value_counts()

both          6
left_only     1
right_only    1
Name: _merge, dtype: int64